<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="header.css">
</head>

<body>

<div class="header__wrapper">

    <a class="header" href="/">
        <img class="header__logo" src="desarol-logo.svg" alt="Desarol">
        <p class="header__slogan">well-oiled responsive sites</p>
    </a>

</div>


<img class="header__image" src="website.jpg" alt="Desarol" />

<div>

    <ul class="secondary-header">
        <li class="secondary-header__item">
            <a class="secondary-header__link" href="#">Robert</a>
        </li>
        <li class="secondary-header__item">
            <a class="secondary-header__link" href="#">Jordan</a>
        </li>
        <li class="secondary-header__item">
            <a class="secondary-header__link" href="#">Chris</a>
        </li>
        <li class="secondary-header__item">
            <a class="secondary-header__link" href="#">Berks</a>
        </li>
        <li class="secondary-header__item">
            <a class="secondary-header__link" href="#">Contact us</a>
        </li>
    </ul>

</div>

<h1 class="site__title">Lorem Ipsum Dolor Sit</h1>

<div class="site__summary-wrapper">
    <div class="site__summary">
        <h2 class="site__summary-content">Lorem ipsum dolor sit amet, pro inani disputando ex. Cu mea summo utinam. Omnes quidam interpretaris no eum, cu audiam similique est.</h2>
    </div>
</div>

</body>

</html>