.main-menu__wrapper {
  padding: 2rem 0 0 10rem;
  max-width: 16.5rem; }

.main-menu__logo {
  height: 9rem;
  position: relative; }

.main-menu__slogan {
  color: #888;
  font-size: 18px;
  font-weight: 100;
  margin: 1rem 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center; }

.main-menu__sidebar-item {
  font-size: 18px;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  list-style: none; }

.main-menu__sidebar-link {
  text-decoration: none;
  color: #000; }
