<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="blogs.scss">
    <link rel="stylesheet" type="text/css" href="/components/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100' rel='stylesheet' type='text/css'>
</head>

<body>

    <div>
        <img class="blogs-logo" src="desarol-logo.svg" alt="Desarol">
        <p class="blogs-slogan">well-oiled responsive websites</p>
    </div>

    <div class="blogs-sidebar">
        <ul>
            <li class="blogs-sidebar__item">
                <a class="blogs-sidebar__link" href="/"> Articles</a>
            </li>

            <li class="blogs-sidebar__item">
                <a class="blogs-sidebar__link" href="/"> About us</a>
            </li>

            <li class="blogs-sidebar__item">
                <a class="blogs-sidebar__link" href="/"> Contact me</a>
            </li>
        </ul>
    </div>

    <div class="blog-wrapper">

        <div class="blog">

            <div class="blog-post">



            </div>

        </div>

    </div>

</body>

</html>