<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="articles.scss">
    <link rel="stylesheet" type="text/css" href="/components/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100' rel='stylesheet' type='text/css'>
</head>

<body class="body">

    <div>
        <a class="all-articles" href="/">All Articles</a>
    </div>

    <div>
        <h1 class="article-title">The Birth of Movable Type</h1>
    </div>

    <div>

        <p class="article-paragraph">
            Johannes Gensfleisch zur Laden zum Gutenberg (c. 1398 - 1468) was a German blacksmith, goldsmith, printer, and publisher who introduced printing to Europe. His invention of mechanical movable type printing started the Printing Revolution and is widely regarded as the most important event of the modern period. It played a key role in the development of the Renaissance, Reformation, the Age of Enlightenment, and the Scientific revolution and laid the material basis for the modern knowledge-based economy and the spread of learning to the masses.
        </p>

        <div class="article-picture__wrapper">
            <img class="article-picture" src="Gutenberg.jpg" alt="Gutenberg">
            <p class="article-picture__name">Johannes Gutenberg</p>
        </div>

    </div>

</body>

</html>