<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="blogs.scss">
    <link rel="stylesheet" type="text/css" href="/components/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100' rel='stylesheet' type='text/css'>
</head>

<body>

    <div>
        <img class="main-menu__logo" src="desarol-logo.svg" alt="Desarol">
        <p class="main-menu__slogan">well-oiled responsive websites</p>
    </div>

    <div class="main-menu__sidebar">
        <ul>
            <li class="main-menu__sidebar-item">
                <a class="main-menu__sidebar-link" href="/">Articles</a>
            </li>

            <li class="main-menu__sidebar-item">
                <a class="main-menu-sidebar__link" href="/">About us</a>
            </li>

            <li class="main-menu__sidebar-item">
                <a class="main-menu__sidebar-link" href="/">Contact me</a>
            </li>
        </ul>
    </div>


</body>

</html>