.main-menu__logo {
    height: 9.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
}

.main-menu__slogan {
    color: #888;
    font-size: 19px;
    font-weight: 100;
    line-height: 26px;
    margin-bottom: 26px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.main-menu__sidebar {
}

.main-menu__sidebar-item {
  font-size: 16px;
  margin-bottom: 26px;
  border-bottom: 0;
  font-weight: 400;
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
}

.main-menu__sidebar-link {
  color: inherit;
  text-decoration: none;
}