@import "footer.css";



<div class="footer__wrapper">
    <ul class="footer__link-list">
        <li class="footer__link-item"><a href="#">
            Careers
        </a></li>

        <li class="footer__link-item"><a href="#">
            Contact
        </a></li>

        <li class="footer__link-item"><a href="#">
            Podcast
        </a></li>
    </ul>

    <ul class="footer__social-list">
        <li class="footer__social-link"><a href="#">
            Twitter
        </a></li>

        <li class="footer__social-link"><a href="#">
            Facebook
        </a></li>

        <li class="footer__social-link"><a href="#">
            Github
        </a></li>
    </ul>

    <div class="footer__subscribe">
        Subscribe to our newsletter
    </div>

</div>